@charset "UTF-8";
/* CSS Document */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* TYPOGRAPHY */
h1 {
  font-family: Arial;
  font-size: 42px;
  color: #9c0c22;
  font-weight: bold;
  line-height: 44.74px;
  letter-spacing: 0em;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 5px;
}

h2 {
  font-family: Arial;
  font-size: 27px;
  color: #9c0c22;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0em;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: Arial;
  font-size: 20px;
  color: #9c0c22;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0em;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 15px;
}

h4 {
  font-family: Arial;
  font-size: 22px;
  color: #9c0c22;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: 0em;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 0;
}

h5 {
  font-family: Arial;
  font-size: 20px;
  color: #000000;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0em;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
}

body, p {
  font-family: Arial;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  opacity: 1;
}

a {
  color: #00aeef;
}

a.small {
  font-size: 12px;
}

a:hover {
  text-decoration: none;
}

ul {
  margin-left: 17px;
}

/* GRADIENTS */

.light-grey-gradient {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.dark-grey-gradient {
  background: #6a6a6a; /* Old browsers */
  background: -moz-linear-gradient(left,  #6a6a6a 0%, #a8a8a8 50%, #6a6a6a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6a6a6a), color-stop(50%,#a8a8a8), color-stop(100%,#6a6a6a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #6a6a6a 0%,#a8a8a8 50%,#6a6a6a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #6a6a6a 0%,#a8a8a8 50%,#6a6a6a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #6a6a6a 0%,#a8a8a8 50%,#6a6a6a 100%); /* IE10+ */
  background: linear-gradient(to right,  #6a6a6a 0%,#a8a8a8 50%,#6a6a6a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#6a6a6a',GradientType=1 ); /* IE6-9 */
}

.red-gradient {
  background: #820a1c; /* Old browsers */
  background: -moz-linear-gradient(left,  #820a1c 0%, #cf112d 50%, #820a1c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#820a1c), color-stop(50%,#cf112d), color-stop(100%,#820a1c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #820a1c 0%,#cf112d 50%,#820a1c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #820a1c 0%,#cf112d 50%,#820a1c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #820a1c 0%,#cf112d 50%,#820a1c 100%); /* IE10+ */
  background: linear-gradient(to right,  #820a1c 0%,#cf112d 50%,#820a1c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#820a1c', endColorstr='#820a1c',GradientType=1 ); /* IE6-9 */
}

/* SHARED */

#header {
  max-width: 100%;
  margin: auto;
  position: relative;
  z-index: 9999;
}

.header-contact-background {
  width: 100%;
  background-color: #efefef;
}

.header-contact {
  width: 930px;
  margin: auto;
  height: 25px;
  text-align: right;
  padding-top: 3px;
  font-size: 12px;
  color: #333;
}

#header-contact-icons {
  margin-left: 50px;
  font-size: 15px;
}

#header-contact-icons a {
 color: #333;
 margin-right: 10px;
}

.header-contact-login {
  width: 171px;
  height: 18px;
  float: right;
  text-align: center;
  margin-left: 50px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#header-main {
  width: 930px;
  margin: auto;
  height: 85px;
  padding-top: 29px;
  padding-right: 15px;
  text-align: right;
}

.header-search-input {
  width: 244px;
  height: 33px;
  margin-right: 13px;
  border: none;
  padding: 10px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.header-search-submit {
  width: 101px;
  height: 32px;
  float: right;
  text-align: center;
  padding: 7px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#header-nav {
  background-color: #9c0c22;
  height: 35px;
}

#header-nav-items {
  width: 930px;
  margin: auto;
  padding: 8px 15px 0 15px;
}

.header-nav-apply-now {
  width: 101px;
  height: 18px;
  text-align: center;
  float: right;
  padding: 1px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.header-nav-item {
  /* font-size: 14px; */
  /* margin-right: 80px; */
  font-size: 12px;
  color: #fff;
  margin-right: 50px;
}

#footer {
  width: 100%;
  height: 90px;
  margin-top: 100px;
}

.footer-red-bar {
  width: 100%;
  height: 5px;
  background-color: #9c0c22;
}

.footer-gradient {
  height: 85px;
}

.footer-links {
  width: 930px;
  margin: auto;
  padding-top: 30px;
  padding-left: 15px;
}

.footer-item {
  font-size: 13px;
  color: #fff;
  margin-right: 67px;
}

.content {
  min-height: 1000px;
  max-width: 930px;
  margin: auto;
}

hr {
  margin: 15px 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 0;
}

.button {
  background-color: #428bca;
  color: #fff;
  position: relative;
}

/* HOME PAGE */

.home-header-content {
  max-width: 100%;
  background-color: white;
  position: absolute;
  top: -9px;
  width: 610px;
  height: 655px;
  z-index: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.home-header-content-copy {
  width: 479px;
  margin-top: 38px;
  position: absolute;
  z-index: 999;
}

.browse-jobs-and-apply-button {
  position: absolute;
  top: 376px;
}

.apply-now-grey-button {
  position: relative;
  left: -4px;
}

.home-header-image {
  float: right;
  z-index: -1;
}

.home-promo-content {
  height: 220px;
  text-align: center;
  position: relative;
  clear: both;
  padding-top: 25px;
  margin-bottom: 36px;
}

.home-promo-collapsable.collapsed {
  display: none;
}

.home-promo-content.collapsed {
  height: 0px;
  padding: 0;
}

.apply-today {
  background-color: #666;
  width: 204px;
  height: 45px;
  margin: 15px auto;
  padding: 13px;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.apply-today h3 {
  color: #fff;
  font-size: 22px;
}

.home-grid-content {
  position: relative;
}

.vertical-divider {
  width: 1px;
  height: 240px;
  background-color: #c4c4c4;
  float: left;
  margin: 0 14px;
}

.temporary-drivers {
  width: 450px;
  padding-left: 15px;
  float: left;
}

.temporary-drivers .grid-copy {
  width: 195px;
  float: left;
  margin-right: 30px;
}

.driver-management-service {
  width: 450px;
  float: right;
}

.driver-management-service .grid-copy {
  width: 210px;
  float: left;
  margin-right: 30px;
}

.grid-image {
  float: right;
}

.drive-video {
  width: 290px;
  padding-left: 15px;
  float: left;
}

.latest-news {
  width: 290px;
  float: left;
}

.centerline-blog {
  width: 290px;
  padding-right: 15px;
  float: right;
}

.home-social-content {
  text-align: center;
}

.home-social-icons {
  margin-bottom: 15px;
}

.home-social-content .fa {
  font-size: 40px;
  margin-right: 10px;
  color: #666;
}

.home-sister-brand {
  width: 320px;
  margin-left: 15px;
  margin-top: 36px;
}

.home-sister-brand-header {
  font-size: 14px;
  font-weight: bold;
}

.home-sister-brand-copy {
  font-size: 12px;
}

.p-bold {
  font-weight: bold;
}

/* DRIVER CENTER AND REGULAR PAGE MAIN GRIDS
 * AND SHARED STYLES */

.grid-left610 {
  width: 610px;
  float: left;
  margin-right: 30px;
}

.grid-right290 {
  width: 290px;
  float: right;
}

.grid-left640 {
  width: 640px;
  float: left;
  margin-right: 50px;
}

.grid-right240 {
  width: 240px;
  float: right;
}

.item-right > p {
  padding-right: 15px;
}

.grid-left240 {
  width: 240px;
  float: left;
}

.grid-middle450 {
  width: 450px;
  float: left;
}


/* DRIVER CENTER PAGE */

.dc-header, .reg-header {
  margin-top: 33px;
}

.dc-content, .reg-content{
  padding-left: 15px;
}

.dc-drive-video, .dc-grid-item3 {
  width: 290px;
  padding-left: 15px;
  float: left;
}

.dc-grid-item2, .dc-grid-item4 {
  width: 290px;
  float: right;
}



/* REGULAR PAGE */

.redline {
  border-bottom: 5px solid #cf102d;
  margin-bottom: 36px;
}

/* JOB DETAIL PAGE */

.jd-content, .jd-right-col{
  margin-top: 33px;
}

.jd-content > h3 {
  margin-bottom: 25px;
}

.jd-job-info-bold > p {
  margin-bottom: 0;
}

.jd-job-info {
  margin-top: 25px;
  margin-bottom: 33px;
}

.jd-job-info > .p-bold {
  margin-bottom: 0;
}

.jd-right-col > .p-bold {
  margin-bottom: 23px;
}

.jd-right-col hr {
  margin: 9px 0;
}

.apply-now {
  width: 156px;
  height: 20px;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 3px;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-right: 20px;
  display: inline-table;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.apply-steps-box {
  background-color: #e6e6e6;
  padding: 20px 10px;
  margin-top: 30px;
  color: #636363;
  font-size: 14px;
}

.apply-steps-box h3 {
  margin-left: 5px;
  margin-bottom: 15px;
  line-height: 25px;
}

.apply-steps-box li {
  line-height: 18px;
  color: #636363;
  padding-right: 10px;
}

.italic {
  font-style: italic;
}

/* JOB LIST PAGE */

.jl-content {
  margin-top: 38px;
}
.jl-search {
  height: 73px;
  margin-left: 15px;
}

.jl-search > .p-bold {
  margin-right: 15px;
}

.jl-search-location-picker,
.jl-search-job-type-picker,
.jl-search-industry-picker {
  background-color: #f6f6f6;
  display: inline;
  padding: 8px 9px;
  margin: 0 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.jl-icon {
  color: #000;
  font-size: 15px;
  margin: 0 0 0 5px;
  position: relative;
  top: -3px;
}

.jl-job-posting {
  height: 96px;
  margin-left: 30px;
}

.jl-job-posting > h3 {
  margin-bottom: 2px;
}

.jl-job-posting > p {
  margin-bottom: 0;
}

.jl-job-posting .apply-now {
  float: right;
  position: relative;
  top: -60px;
  margin-right: 3px;
}

.loc-content {
  margin-top: 35px;
}

.loc-left-col {
  padding-right: 30px;
}

.loc-left-col p {
  margin-bottom: 0;
}

.loc-left-col img {
  margin-bottom: 15px;
}

.loc-middle {
  margin-top: 33px;
}

.loc-middle-content {
  margin-top: 15px;
}

.loc-right-col {
  margin-top: 32px;
  padding-left: 30px;
}

.loc-right-col hr {
  margin: 11px 0;
}
