@media screen and (min-width: 0px) and (max-width: 959px) {
  h1 {
    font-size: 37px;
    line-height: 39px;
  }

  h5 {
    font-size: 18px;
    line-height: 22px;
  }
  #header-logo {
    margin-left: 10px;
  }

  #header-nav {
    min-height: 35px;
    height: auto;
  }

  #header-nav-items {
    width: 90%;
    margin: auto;
    display: none;
    height: auto;
    margin-top: 10px;
  }

  #header-nav li {
    width: 50%;
    padding-left: 10px;
  }

  #header-nav li a {
    border-bottom: 1px solid #820A1C;
    text-align: left;
    width: 100%;
  }

  #header-nav a#pull {
    display: block;
    width: 22%;
    color: #fff;
    font-size: 18px;
    margin-left: 6%;
    margin-top: 10px;
    background-color: #9C0C22;
    position: relative;
  }

  .content {
    width: 95%;
  }

  .home-header-content-copy {
    width: 60%;
    padding-right: 20px;
    margin-top: 30px;
    float: left;
  }

  .grey-links {
    clear: both;
    display: block;
    max-width: 930px;
    width: 100%;
  }

  .grey-browse, .grey-apply {
    display: inline-block;
    width: 50%;
    height: 68px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 21px;
    padding: 24px;
    line-height: 26px;
  }

  .grey-apply {
    border-left: 1px solid #999;
  }

  /* GRIDS */
  .grid-left630,
  .grid-left210,
  .grid-middle420 {
    width: 60%;
  }

  .temporary-drivers,
  .driver-management-service,
  .drive-video,
  .latest-news,
  .centerline-blog {
    width: 100%;
    min-height: 220px;
    margin: auto;
    float: none;
    padding: 0;
  }

  .grid-image {
    float: left;
    margin-right: 20px;
  }

  .hr-hide {
    display: none;
  }

  .reg-list {
    margin-top: 15px;
  }

  .temporary-drivers .grid-copy {
    width: 100%;
    float: none;
  }

  .driver-management-service .grid-copy {
    width: 100%;
    float: none;
  }

  .vertical-divider {
    display: none;
  }

  /* REGULAR & DRIVER CENTER PAGE */

  .reg-content, .dc-content {
    padding: 0;
  }

  .dc-grid-item2,
  .dc-grid-item3,
  .dc-grid-item4,
  .dc-drive-video {
    margin-top: 15px;
    width: 100%;
    float: left;
  }

  .loc-content img {
    float: left;
    margin-right: 20px;
  }

  .loc-right-col {
    padding: 0;
  }

  .jl-search {
    margin-left: 30px;
    height: 100px;
  }

  .jl-search > .p-bold {
    float: none;
  }

  .jl-search-items {
    margin: 20px 0;
  }

  .jl-job-posting .apply-now {
    top: -70px;
  }

  .tinynav {
    display: block;
    margin: auto;
  }

  #footer-links {
    display: none;
  }

  .footer-gradient {
    padding-top: 25px;
  }
}

@media screen and (min-width: 0px) and (max-width: 870px) {
  .grid-left630 {
    width: 50%;
  }

  .home-header-content-copy {
    width: 50%;
  }

  .jl-search {
    height: 225px;
    display: inline-block;
  }

  .jl-search-items {
    margin: 0;
  }

  .jl-search-location,
  .jl-search-job-type,
  .jl-search-industry {
    display: block;
    margin: 5px 0;
  }

  .jl-search-location-picker,
  .jl-search-job-type-picker,
  .jl-search-industry-picker {
    display: block;
    padding: 8px 29px;
  }

  .jl-job-posting {
    height: 140px;
  }

  .jl-job-posting .apply-now {
    float: none;
    position: static;
    margin-top: 7px;
  }

  .apply-steps-box-info {
    display: block;
  }
  

}

@media screen and (min-width: 0px) and (max-width: 699px) {

  h1 {
    font-size: 32px;
    line-height: 35px;
  }

  h2 {
    font-size: 23px;
  }

  h5 {
    font-size: 14px;
    line-height: 20px;
  }

  .header-search-input {
    width: 185px;
    height: 28px;
    font-size: 13px;
  }

  .header-search-submit {
    width: 70px;
    height: 28px;
    font-size: 12px;
    padding: 5px;
  }

  .dc-r-header.grid-left630,
  .home-header-content-copy {
    width: 40%;
    float: left;
  }

  .dc-r-header-img.grid-right300 {
    width: 300px;
    float: right;
    margin: 0;
  }

  .grid-left630 {
    width: 100%;
    float: none;
  }

  .grid-right300 {
    width: 100%;
    float: none;
    margin-top: 25px;
  }

  .grid-right300 hr {
    display: none;
  }

  .jd-right-col hr {
    display: block;
  }

  .item-right {
    margin-bottom: 15px;
  }

  .dc-drive-video,
  .dc-grid-item2,
  .dc-grid-item3,
  .dc-grid-item4 {
    width: 100%;
    float: none;
  }

  .loc-middle-content {
    display: inline-block;
  }

  .responsive-browse, .responsive-apply {
    font-size: 16px;
    height: 65px;
    padding: 20px;
  }

  .apply-steps-box-info {
    display: none;
  }

  .apply-steps-box .icon-3steps {
    display: block;
    float: right;
    margin-right: 15px;
    color: #9c0c22;
  }

}

@media screen and (min-width: 0px) and (max-width: 580px) {

  #header-nav li {
    display: block;
    float: none;
    width: 100%;
    padding-left: 10px;
  }

  #header-nav li a {
    border-bottom: 1px solid #820A1C;
  }

  #header-contact-icons {
    display: none;
  }

  .header-contact-login {
    margin-left: 20px;
  }

  .home-header-content-copy, .home-header-image {
    width: 100%;
    float: none;
  }

  .home-header-content-copy {
    margin-bottom: 30px;
  }

  .home-header-content-copy h1 {
    font-size: 30px;
    line-height: 32px;
  }

  .home-header-content-copy h5 {
    font-size: 18px;
    line-height: 20px;
  }

  .responsive-browse {
    padding: 10px 20px;
    font-size: 18px;
  }

  .responsive-apply {
    padding: 17px;
    font-size: 18px;
  }

  .temporary-drivers .grid-copy {
    float: left;
    margin-top: 10px;
  }

  .driver-management-service .grid-copy {
    float: left;
    margin-top: 10px;
  }

  .dc-r-header.grid-left630 {
    width: 100%;
    margin-bottom: 15px;
  }

  .dc-r-header-img.grid-right300 {
    width: 300px;
    margin: auto;
    float: none;
  }
  
}
