/* @media screen and (min-width: 930px) and (max-width: 4000px) { */
/*     */
/* 	 */
/* } */

@media screen and (min-width: 320px) and (max-width: 929px) {

  /* GRIDS */
  .grid-left610, .grid-left240, .grid-middle450 {
    float: none;
    width: 90%;
    margin: auto;
  }
  .grid-right290, .grid-left640, .grid-right240 {
    float: none;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }

  .temporary-drivers, .driver-management-service, .drive-video, .latest-news, .centerline-blog {
    width: 90%;
    min-height: 220px;
    margin: auto;
    float: none;
    padding: 0;
  }

  .grid-image {
    float: left;
    margin-right: 20px;
  }

  .hr-hide {
    display: none;
  }

  .temporary-drivers .grid-copy {
    width: 100%;
    float: none;
  }

  .driver-management-service .grid-copy {
    width: 100%;
    float: none;
  }
  .home.vertical-divider {
    display: none;
  }

  /* REGULAR & DRIVER CENTER PAGE */
  .reg-header, .dc-header {
    margin-top: 30px;
  }

  .reg-content, .dc-content {
    padding: 0;
  }

  .dc-drive-video, .dc-grid-item3 {
    padding: 0;
    width: 44%;
  }

  .dc-grid-item2, .dc-grid-item4 {
    width: 50%;
  }

  .loc-content img {
    float: left;
    margin-right: 20px;
  }

  .loc-right-col {
    padding: 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 699px) {
  .dc-drive-video, .dc-grid-item3 {
    width: 100%;
    float: none;
  }

  .dc-grid-item2, .dc-grid-item4 {
    width: 100%;
    float: none;
    padding-top: 20px;
  }

  .dc-grid-item3, .dc-grid-item4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #c4c4c4;
  }

  .vertical-divider {
    display: none;
  }

  .jl-job-posting .apply-now {
    float: none;
    top: 0;
  }

  .jl-job-posting {
    height: 150px;
  }

  .loc-middle-content {
    display: inline-block;
  }

}

