@media screen and (min-width: 0px) and (max-width: 959px) {
  h1 {
    font-size: 37px;
    line-height: 39px;
  }

  h5 {
    font-size: 18px;
    line-height: 22px;
  }
  #header-logo {
    margin-left: 10px;
  }

  #header-nav {
    min-height: 35px;
    height: auto;
  }

  #header-nav-items {
    width: 90%;
    margin: auto;
    display: none;
    height: auto;
    margin-top: 10px;
  }

  #header-nav li {
    width: 50%;
    padding-left: 10px;
  }

  #header-nav li a {
    border-bottom: 1px solid #820A1C;
    text-align: left;
    width: 100%;
  }

  #header-nav a#pull {
    display: block;
    width: 22%;
    color: #fff;
    font-size: 18px;
    margin-left: 6%;
    margin-top: 10px;
    background-color: #9C0C22;
    position: relative;
  }

  #apply {
    padding-top: 0;
  }

  .content {
    width: 95%;
  }

  .home-header-content {
    width: 63%;
    width: calc(100% - 300px);
  }

  .temporary-drivers,
  .driver-management-service {
    width: 48%;
    padding-left: 0;
  }

  .temporary-drivers .grid-copy {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .driver-management-service .grid-copy {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .grid-image {
    min-width: 175px;
    max-width: 210px;
    width: 45%;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .drive-video {
    padding-left: 0;
  }

  .home.vertical-divider {
    margin: 0 14px;
  }

  .vertical-divider {
    margin: 0;
  }

  .home-content2 {
    margin-top: 25px;
  }

  .latest-news,
  .centerline-blog {
    width: 28%;
    margin-left: 15px;
    padding-right: 15px;
  }

  .centerline-blog {
    float: left;
  }

  /* GRIDS */
  .grid-left630 {
    width: 60%;
  }

  .grid-left210 {
    width: 270px;
  }

  .hr-hide {
    display: none;
  }

  /* REGULAR & DRIVER CENTER PAGE */

  .reg-list {
    margin-top: 15px;
  }

  .reg-content, .dc-content {
    padding: 0;
  }

  .dc-grid-item2,
  .dc-grid-item3,
  .dc-grid-item4,
  .dc-drive-video {
    margin-top: 15px;
    width: 100%;
    float: left;
  }

  .dc.vertical-divider {
    display: none;
  }

  .loc-content img {
    float: left;
    margin-right: 20px;
  }

  /* JOB LIST PAGE */

  .jl-search {
    margin-left: 30px;
    height: 100px;
  }

  .jl-search > .p-bold {
    float: none;
  }

  .jl-search-items {
    margin: 20px 0;
  }

  .jl-job-posting .apply-now {
    top: -70px;
  }

  /* LOCATION PAGE */

  .loc-right-col {
    width: 260px;
    clear: both;
    float: left;
    padding: 0;
    margin: 0;
  }

  .loc-middle-content {
    margin-left: 40px;
  }

  /* FOOTER */

  .tinynav {
    display: block;
    margin: auto;
  }

  #footer-links {
    display: none;
  }

  .footer-gradient {
    padding-top: 25px;
  }
}

@media screen and (min-width: 0px) and (max-width: 870px) {
  /* IE FALLBACK */
  .home-header-content {
    width: 55%;
    width: calc(100% - 300px);
  }

  .grid-left630 {
    width: 50%;
  }

  .vertical-divider {
    display: none;
  }

  .home-header-content-copy {
    height: 190px;
  }

  .grey-browse, .grey-apply {
    height: 85px;
  }

  .grey-apply {
    word-spacing: 1000px;
 }

  .latest-news,
  .centerline-blog {
    width: 55%;
    float: left;
    margin: 0;
    padding: 0;
  }

  .centerline-blog {
    margin-top: 20px;
  }

  .jl-search {
    height: 225px;
    display: inline-block;
  }

  .jl-search-items {
    margin: 0;
  }

  .jl-search-location,
  .jl-search-job-type,
  .jl-search-industry {
    display: block;
    margin: 5px 0;
  }

  .jl-search-location-picker,
  .jl-search-job-type-picker,
  .jl-search-industry-picker {
    display: block;
    padding: 8px 29px;
  }

  .jl-job-posting {
    height: 140px;
  }

  .jl-job-posting .apply-now {
    float: none;
    position: static;
    margin-top: 7px;
  }

  .apply-steps-box-info {
    display: block;
  }

}

@media screen and (min-width: 0px) and (max-width: 765px) {

  /* IE FALLBACK */
  .home-header-content {
    width: 49%;
    width: calc(100% - 300px);
  }

  h1 {
    font-size: 28px;
    line-height: 30px;
  }

  .grid-left210 {
    width: 210px;
  }

  .loc-right-col {
    width: 200px;
  }

  .home.vertical-divider {
    display: none;
  }

  .temporary-drivers .grid-image {
    float: left;
    margin: 0 15px 25px 0;
  }

  .temporary-drivers,
  .driver-management-service,
  .drive-video,
  .latest-news,
  .centerline-blog {
    width: 100%;
  }

  .temporary-drivers .grid-copy {
    padding-top: 30px;
  }

  .driver-management-service .grid-copy {
    padding-top: 40px;
  }

  .drive-video {
    margin-bottom: 25px;
  }
}


@media screen and (min-width: 0px) and (max-width: 699px) {

  /* IE FALLBACK */
  .home-header-content {
    width: 45%;
    width: calc(100% - 300px);
  }

  h2 {
    font-size: 23px;
  }

  h5 {
    font-size: 14px;
    line-height: 20px;
  }

  .header-search-input {
    width: 185px;
    height: 28px;
    font-size: 13px;
  }

  .header-search-submit {
    width: 70px;
    height: 28px;
    font-size: 12px;
    padding: 5px;
  }

  .home-header-content-copy {
    height: 200px;
    padding-right: 10px;
  }

  .grey-apply, .grey-browse {
    height: 75px;
    font-size: 16px;
    line-height: 20px;
  }

  .latest-news,
  .centerline-blog {
    width: 100%;
    float: none;
  }

  .dc-r-header.grid-left630 {
    width: 40%;
    float: left;
  }

  .dc-r-header-img.grid-right300 {
    width: 300px;
    float: right;
    margin: 0;
  }

  .grid-left630 {
    width: 100%;
    float: none;
  }

  .grid-right300 {
    width: 100%;
    float: none;
    margin-top: 25px;
  }

  .grid-right300 hr {
    display: none;
  }

  .jd-right-col hr {
    display: block;
  }

  .item-right {
    margin-bottom: 15px;
  }

  .dc-drive-video,
  .dc-grid-item2,
  .dc-grid-item3,
  .dc-grid-item4 {
    width: 100%;
    float: none;
  }

  .loc-middle-content {
    display: inline-block;
  }

  .apply-steps-box-info {
    display: none;
  }

  .apply-steps-box .icon-3steps {
    display: block;
    float: right;
    margin-right: 15px;
    color: #9c0c22;
  }

  .grid-left210 {
    width: 100%;
    float: none;
    margin: 0;
  }

  .grid-middle420 {
    width: 100%;
    float: none;
    margin: 0;
  }

  .map img {
    max-width: 420px;
    width: 100%;
    float: none;
  }

  .loc-right-col hr {
    display: inherit;
  }

  .loc-middle-map,
  .loc-middle-content {
    margin-top: 25px;
  }

}

@media screen and (min-width: 0px) and (max-width: 580px) {

  #header-nav li {
    display: block;
    float: none;
    width: 100%;
    padding-left: 10px;
  }

  #header-nav li a {
    border-bottom: 1px solid #820A1C;
  }

  #header-contact-icons {
    display: none;
  }

  .header-contact-login {
    margin-left: 20px;
  }

  .header-search-input,
  .header-search-submit {
    display: none;
  }

  .fa-search {
    display: inline;
    color: #fff;
    font-size: 24px;
  }

  .home-header-content,
  .home-header-content-copy  {
    width: 100%;
  }

  .home-header-content-copy {
    height: 135px;
  }

  .grey-links {
    display: none;
  }

  .grey-links-mobile {
    display: block;
  }

  .grey-browse, .grey-apply {
    height: 65px;
    font-size: 19px;
    padding-top: 22px;
  }

  .grey-apply {
    word-spacing: 0;
  }

  .home-header-image {
    max-width: 300px;
    width: 100%;
    float: none;
    display: block;
    margin: 20px auto 0;
    clear: both;
  }

  .dc-r-header.grid-left630 {
    width: 100%;
    margin-bottom: 15px;
  }

  .dc-r-header-img.grid-right300 {
    width: 300px;
    margin: auto;
    float: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 480px) {

  .home-sister-brand {
    width: 100%;
    margin-left: 0;
  }

  .loc-info {
    clear: both;
  }

  #header-logo {
    max-width: 272px;
    width: 80%;
  }

  .home-header-content-copy {
    height: 160px;
  }

  .hello {
    width: 100px;
  }

  .grey-browse,
  .grey-apply {
    font-size: 18px;
    padding: 15px 30px;
  }

  .grey-apply {
    word-spacing: 100px;
  }

  .home-promo-content {
    padding-top: 15px;
  }

  .temporary-drivers {
    margin-bottom: 20px;
  }

  .temporary-drivers .grid-image {
    width: 100%;
    display: block;
    float: none;
    margin-bottom: 15px;
  }

  .grid-image {
    width: 100%;
    display: block;
    float: none;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .temporary-drivers .grid-copy {
    width: 100%;
    float: none;
    padding-top: 0;
  }

  .driver-management-service .grid-copy {
    width: 100%;
    float: none;
    padding-top: 0;
  }

}

@media screen and (min-width: 0px) and (max-width: 360px) {
  
  .grey-browse, .grey-apply {
    padding: 15px 10px;
  }

  .job-location,
  .recruiting-office,
  .work-hours,
  .pay-rate {
    width: 89px;
    margin-top: 15px;
  }
  .phone {
    display: block;
    margin-bottom: 10px;
  }
}

